// 可以用extend將相同的屬性合併成一個
// % Placeholder Selectors
%col {
  min-height: 1px;
  padding-left: $grid-gutter-with / 2;
  padding-right: $grid-gutter-with / 2;
}
%no-gutter {
  padding-left: 0;
  padding-right: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -($grid-gutter-with / 2);
  margin-right: -($grid-gutter-with / 2);
}
// col-
@for $i from 1 through $grid-columns {
  .col-#{$i} {
    @extend %col;
    max-width: ($i / $grid-columns) * 100%;
    flex: 0 0 ($i / $grid-columns) * 100%;
  }
}
.row--noGutter {
  margin-left: 0;
  margin-right: 0;
  @for $i from 1 through $grid-columns {
    .col-#{$i} {
      @extend %no-gutter;
    }
  }
}


// pad & mobile
@each $key, $val in $grid-breakpoints {
  @media (max-width: $val)  {
    @for $i from 1 through $grid-columns {
      .#{$key}-col-#{$i} {
        min-height: 1px;
        padding-left: $grid-gutter-with / 2;
        padding-right: $grid-gutter-with / 2;
        max-width: ($i / $grid-columns) * 100%;
        flex: 0 0 ($i / $grid-columns) * 100%;
      }
    }
    .#{$key}-row--noGutter {
      margin-left: 0;
      margin-right: 0;
      [class*="#{$key}-col-"] {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}