// color
// ------------------
@each $key, $val in $themes {
  .bg-#{$key} {
    background-color: $val !important;
  }
  .#{$key} {
    color: $val !important;
  }
}


// spacing
// ------------------
@mixin you ($val) {
  font-size: 12px;
  $val: 1px
}
@each $p-key, $p-val in $properties {
  @each $s-key, $s-val in $sizes {
    .#{$p-key}-#{$s-key} {
      #{$p-val}: $s-val;
    }
  }
}

.mx-auto {
  margin-right:auto;
  margin-left: auto;
}
.py-md {
  padding-top: $md;
  padding-bottom: $md;
}
// width
// ------------------
@for $i from 1 through 5 {
  .w-#{$i*25}{
    width: $i*25%;
  }
}

// style - font
// ------------------
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
.align-r {
  text-align: right;
}
.align-c {
  text-align: center;
}

// other
// ----------------------------------------------------------------
.d-none {
  display: none;
}
.gutter {
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;
}
.h-100 {
  height: 100ï¼…;
}
.link {
  border-bottom: 1px solid transparent;
  &:hover{
    border-bottom: 1px solid $white;
  }
}
.align-c {
  text-align: center;
}

// pad
@include pad { 
  // helpers
  @for $i from 1 through 4 {
    .pad-w-#{$i*25}{
      width: $i*25%;
    }
  }
  .pad-d-bk {
    display: block;
  }
  .pad-d-none{
    display: none;
  }
  .pad-py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .pad-py-xs{
    padding-top: $xs;
    padding-bottom: $xs;
  }
  @each $p-key, $p-val in $properties {
    @each $s-key, $s-val in $sizes {
      .pad-#{$p-key}-#{$s-key} {
        #{$p-val}: $s-val;
      }
    }
  }
}

// bgphone
@include bgPhone {
  .bgphone-d-none {
    display: none;
  }
  .bgphone-mr-sm {
    margin-right: $sm;
  }
}

// mobile
@include mobile {
  @for $i from 1 through 4 {
    .mobile-w-#{$i*25} {
      width: $i*25%;
    }
  }
  .mobile-d-bk {
    display: block;
  }
  .mobile-d-none {
    display: none;
  }
  .mobile-py-halfxs{
    padding-top: $xs / 2 ;
    padding-bottom: $xs / 2 ;
  } 
  @each $p-key, $p-val in $properties {
    @each $s-key, $s-val in $sizes {
      .mobile-#{$p-key}-#{$s-key} {
        #{$p-val}: $s-val;
      }
    }
  }
}

// se
@include se {
  .se-mr-0 {
    margin-right: 0;
  }
}
