// @media
@mixin pc {
  @media (max-width: 960px) {
    @content;
  }
}

@mixin pad {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin bgPhone {
  @media (max-width: 650px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 568px) {
    @content;
  }
}

@mixin se {
  @media (max-width: 320px) {
    @content;
  }
}

// flex
@mixin flex($fx: flex, $jc: flex-start, $align: stretch) {
  display: $fx;
  justify-content: $jc;
  align-items: $align;
}