.container {
  margin: 0 auto;
  width: 100%; 
  max-width: $maxWidth;
  padding-right: $grid-gutter-width / 2;
  padding-left: $grid-gutter-width / 2;
  @include pad {
    max-width: $pad;
  }
  @include mobile {
    max-width: $mobile;
  }
}
// home
// .product, .co-brand, .recommend, .contact 
.page-padding-1 {
  padding-top: 64px;
  padding-bottom: 80px;
  @include pad {
    padding: 40px 25px;
  }
  @include bgPhone {
    padding: 32px 0;
  }
}

// banner
// location / faq
.banner {
  background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/qa.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 304px;
  display: flex;
  align-items: flex-end;
  h2 { 
    font-size: $fsz * 4;
    line-height: 1.25;
  }
}
