.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 88px;
  background-color: $primary;
  @include pc { padding: 30px 60px; }
  @include pad { padding: 30px 40px; }
  @include mobile {
    padding: 0;
    flex-direction: column;
  }
  &__logo{
    @include mobile {
      padding: 10px;
      img { width: 48px; }
    }
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    @include mobile {
      width: 100%;
      flex-wrap: wrap;
    }
  }
  &__nav__item {
    margin-left: 64px;
    border-bottom: 2px solid transparent;
    &:hover { border-color: $white;}
    &:first-of-type { margin-left: 0; }
    @include pad { margin-left: 40px; }
    @include bgPhone {  margin-left: 20px; }
    @include mobile {
      margin-left: 0;
      border: 1px solid $white;
      width: 50%;
      text-align: center;
    }
  }
  &__nav__link {
    color: $white;
    font-size: 20px;
    line-height: 30px;
    display: block;
    padding: 10px 0;
    @include mobile { 
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}