.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 88px;
  background-color: $primary;
  @include pc { padding: 30px 60px; }
  @include pad { padding: 30px 40px; }
  @include mobile {
    padding: 0;
    flex-direction: column;
  }
  &__logo a {
    display:block;
    width: 80px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('https://hexschool.github.io/webLayoutTraining1st/week3/logo.png');
    text-indent:101%; // 強迫文字縮排至原本的區域外
    overflow:hidden;
    white-space:nowrap;
    @include mobile {
      margin: 10px;
      width: 48px;
      height: 30px;
    }
  }
  &__nav {
    display: flex;
    @include mobile {
      width: 100%;
      flex-wrap: wrap;
    }
  }
  &__nav__item {
    margin-left: 64px;
    border-bottom: 2px solid transparent;
    transition: all 0.2s;
    &:first-of-type { margin-left: 0; }
    @include pad { margin-left: 40px; }
    @include bgPhone {  margin-left: 20px; }
    @include mobile {
      margin-left: 0;
      border: 1px solid $white;
      width: 50%;
      text-align: center;
    }
    &:hover { 
      border-bottom: 2px solid $white;
      @include mobile {
        border: 1px solid $white;
        font-weight: bold;
      }
    }
  }
  &__nav__link {
    color: $white;
    font-size: 20px;
    line-height: 30px;
    display: block;
    padding: 10px 0;
    @include mobile { 
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}