.subtitle {
  text-align: center;
  color: $secondary;
  margin-bottom: 60px;
  font-size: $fsz * 3;
  line-height: 1.5;
  @include pad {
    margin-bottom: 32px;
    font-size: $fsz * 2;
    line-height: 1.5;
  }
  @include mobile {  
    margin-bottom: 20px;
    font-size: $fsz * 1.5;
    line-height: 2;
  }
}
// layout
.masthead {
  background-image: url('https://hexschool.github.io/webLayoutTraining1st/week3/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 840px;
  display: flex;
  align-items: center;
  @include pad { background-image: url('https://hexschool.github.io/webLayoutTraining1st/week3/banner-sm.png'); }
  @include bgPhone { height: 394px; }
  &__title {
    font-size: $fsz * 4;
    line-height: 1.5;
    color: $secondary;
    font-weight: bold;
    @include pad {
      font-size: $fsz * 3;
      line-height: 1.4;
    }
    @include bgPhone {
      font-size: $fsz * 2.25;
      line-height: 1.5;
    }
    @include mobile {
      font-size: $fsz * 2;
      line-height: 1.4;
    }
  }
  &__subtitle {
    font-size: 36px;
    line-height: 1.5;
    color: $secondary;
    @include pad {
      font-size: 20px;
      line-height: 1.4;
    }
    @include mobile {
      font-size: 16px;
      line-height: 1.4;
    }
  }
}

.introduction {
  background-color: rgba($primary, 0.05);
  padding-top: 64px;
  padding-bottom: 80px;
  @include pad { padding: 40px 0 80px; }
  @include mobile { padding: 32px 0; }
  .intro {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    &__img {
      width: 100px;
      height: 100px;
      margin: 0 auto 40px;
    }
    &__title {
      color: $secondary;
      font-size: $fsz * 1.5;
      line-height: 1.5;
      margin-bottom: 4px;
    }
    &__content {
      font-size: 16px;
      line-height: 1.5;
      text-align: left;
    }
    @include pad {
      padding-left: 60px;
      padding-right: 60px;
      &__img {
        width: 80px;
        height: 80px;
        margin: 0 auto 16px;
      }
      &__title {
        font-size: $fsz * 1.25;
        line-height: 1.5;
        margin-bottom: 8px;
      }
    }
    @include mobile {
      padding-left: 70px;
      padding-right: 70px;
    }
    @include se {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}
.product {
  .list {
    display: flex;
    color: $primary;
    padding: 0 30px;
    &__icon {
      margin-right: 8px;
    }
    &__discript {
      font-size: $fsz * 3;
      line-height: 1.5;
      font-style: italic;
      font-weight: bold;
    }
    @include pc {
      &__discript { font-size: $fsz * 2.5; }
    }
    @include pad {
      margin-bottom: 8px;
      &__discript { font-size: $fsz * 1.75; }
    }
    @include mobile {
      color: $white;
      &__icon { width: 32px; }
    }
  }
  @include mobile {
    .mobile-coverImg{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.co-brand {
  background-color: rgba($primary, 0.2);
  background-image: url('https://hexschool.github.io/webLayoutTraining1st/week3/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .co-product__caption {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($white, 0.5);
    width: 100%;
    height: 100%;
    &__content {
      font-size: $fsz * 4.5;
      line-height: 1.5;
      color: $primary;
      font-weight: bold;
      @include pad {
        font-size: $fsz * 2;
      }
    }
  }
}
.contact {
  background-color: rgba($primary, 0.05);
  &__form label {
    line-height: 1.3;
  }
  &__form__topic {
    margin-bottom: 16px;
    @include pad { margin-bottom: 8px; }
    label {
      display: block;
      width: 100%; 
      line-height: 1.3;
    }
    input, textarea{
      border: 1px solid #000;
      width: 100%;
      padding: 14px 16px;
      outline: none;
    }
  }
}
//
// components
.card {
  border: 1px solid #DEE2E6;
  &__head {
    width: 100%;
  }
  &__body {
    padding: 14px 16px;
  }
  &__title {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 8px;
  }
  &__text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  &__caption {
    font-size: 14px;
    line-height: 1.5;
    color: $caption;
  }
}
.btn {
  display: block;
  background-color: $primary;
  border: none;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 350px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  @include pad { width: 210px};
  @include mobile {width: 165px} 
}
.divider {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
