.location-storeList {
  padding-top: 16px;
  padding-bottom: 304px;
  @include pad { padding-bottom: 104px; }
  @include mobile { padding-bottom: 56px; }
}
// location - components
.selectArea {
  display: flex;
  align-items: center;
  &__label {
    font-size: $fsz * 1.5;
    line-height: 1.25;
    @include pad { font-size: $fsz; }
    @include mobile { font-size: $fsz * 0.875; }
  }
  &__select {
    margin-left: 20px;
    padding: 10px 20px;
    font-size: $fsz * 1.2;
    @include pad {
      font-size: $fsz * 1.125; 
      padding: 12px 16px; 
    }
    @include mobile { 
      font-size: $fsz * 0.875; 
      padding: 8px 16px;
      flex-grow: 1;
    }
  }
}
.store-panel {
  &__header {
    width: 100%;
    height: 225px;
    object-fit: cover;
    @include pad { height: 164px }
  } 
  &__title {
    padding: 12px 24px;
    font-size: $fsz * 1.5;
    line-height: 1.5;
    border: 1px solid rgba(0, 0, 0, 0.2);
    @include pc { font-size: $fsz * 1.25; }
    @include pad { font-size: $fsz; }
  }
  &__body {
    padding: 16px 24px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  &__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 8px;
    img {
      width: 24px;
      height: 24px;
      object-fit: contain;
      margin-right: 12px;
      @include pad { 
        margin-right: 16px;
        width: 14px;
        height: 14px;
      }
    }
    p {
      font-size: $fsz * 1.25;
      line-height: 1.5;
      @include pc { font-size: $fsz; }
      @include pad { font-size: $fsz * 0.875; }
    }
  }
  &__btn {
    display: block;
    width: 100%;
    background: #000;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: $fsz * 1.25;
    line-height: 1.4;
    text-align: center;
    color: $white;
    padding: 20px;
    @include pad {
      padding: 16px;
      font-size: $fsz * 0.875; 
    }
  }
}