.products-tabList {
  width: 75%;
  max-width: 100%;
  margin: 0 auto;
  padding-right: $grid-gutter-with / 2;
  padding-left: $grid-gutter-with / 2;
  @include pad {
    width: 100%;
  }

  // p-components
  .tab {
    &__item {
      @include flex(flex, center, center);
      padding: 24px 0;
      border: 1px solid #dcdcdc;
      @include pad {padding: 16px 0;}
      @include mobile {padding: 8px 0;}
      &__icon {
        width: 2.5vw;
        height: 2.5vw;
        object-fit: contain;
        margin-right: 4px;
        @include pad { 
          width: 3.6vw;
          height: 3.6vw;
        }
        @include mobile { 
          width: 4vw;
          height: 4vw;
        }
      }
      &__text{
        font-size: calc(2.5vw - 2px);
        line-height: 1.5;
        font-weight: normal;
        @include pad { font-size: 3.6vw }
      }
    }
    &__item--active {
      span.tab__item__slide {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 16px;
        background-color:  $primary;
        @include pad { height: 8px;}
        @include mobile { height: 4px;}
      }
    }
  }
}

.products-cover {
  img {
    object-fit: cover;
    @include pad { height: 188px;}
  }
}

.products-itemList {
  padding-top: 88px;
  padding-bottom: 170px;
  @include pad {
    padding-top: 40px;
    padding-bottom: 104px;
  }
  @include mobile {
    padding-top: 30px;
    padding-bottom: 56px;
  }
  &__title {
    font-size: $fsz * 2.625;
    line-height: 1.5;
    text-align: center;
    @include pad { font-size: $fsz * 2; }
    @include mobile { font-size: $fsz * 1.25; }
  }
  &__subtitle{
    text-align: center;
    font-size: $fsz * 2;
    line-height: 1.5;
    margin-bottom: 40px;
    @include pad { 
      font-size: $fsz * 1.5;
      margin-bottom: 32px;
    }
    @include mobile { font-size: $fsz; }
  }
  .p-colorSquare {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    margin-right: 8px;
    @include pad {
      margin-right: 4px;
    }
    @include mobile {
      width: 16px;
      height: 16px;
    }
  }
  .productsCard {
    margin-bottom: 104px;
    @include pad { margin-bottom: 72px; }
    @include pad { margin-bottom: 32px; }
    &__img {
      width: 100%;
      height: 164px;
      object-fit: cover;
    }
    &__detail {
      p {
        font-size: $fsz * 1.5;
        line-height: 1.5;
      }
    }
    &__type {
      display: flex;
    }
  }
}



