.products-filtersList {
  width: 75%;
  max-width: 100%;
  margin: 0 auto;
  padding-right: $grid-gutter-width / 2;
  padding-left: $grid-gutter-width / 2;
  @include pad {
    width: 100%;
  }
}

.products-cover {
  &__img {
    &:first-of-type { 
      margin-right: 30px;
    }
  }
  img {
    object-fit: cover;
    @include pad { height: 188px;}
  }
}

.products-itemList {
  padding-top: 88px;
  padding-bottom: 170px;
  @include pad {
    padding-top: 40px;
    padding-bottom: 104px;
  }
  @include mobile {
    padding-top: 30px;
    padding-bottom: 56px;
  }
  &__title {
    font-size: $fsz * 2.625;
    line-height: 1.5;
    text-align: center;
    @include pad { font-size: $fsz * 2; }
    @include mobile { font-size: $fsz * 1.25; }
  }
  &__subtitle{
    text-align: center;
    font-size: $fsz * 2;
    line-height: 1.5;
    margin-bottom: 40px;
    @include pad { 
      font-size: $fsz * 1.5;
      margin-bottom: 32px;
    }
    @include mobile { font-size: $fsz; }
  }
  .p-colorSquare {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    margin-right: 8px;
    @include pad {
      margin-right: 4px;
    }
    @include mobile {
      width: 16px;
      height: 16px;
    }
  }
  .productsCard {
    margin-bottom: 104px;
    @include pad { margin-bottom: 72px; }
    @include pad { margin-bottom: 32px; }
    &__img {
      width: 100%;
      height: 164px;
      object-fit: cover;
    }
    &__detail {
      p {
        font-size: calc(1.25vw + 2px);
        line-height: 1.5;
        @include pad { font-size: $fsz * 1.5;}
      }
    }
    &__type {
      display: flex;
    }
  }
}



// p-components
.filters {
  &__item {
    @include flex(flex, center, center);
    // padding: 24px 0;
    border: 1px solid #dcdcdc;
    // @include pad {padding: 16px 0;}
    // @include mobile {padding: 8px 0;}
    cursor: pointer;
    &:hover{ 
      .filters__item__text{ color: $primary; }
    }
    &__icon {
      width: 2.5vw;
      height: 2.5vw;
      object-fit: contain;
      margin-right: 4px;
      @include pad { 
        width: 3.6vw;
        height: 3.6vw;
      }
      @include mobile { 
        width: 4vw;
        height: 4vw;
      }
    }
    &__text{
      font-size: calc(2.5vw - 2px);
      line-height: 1.5;
      font-weight: normal;
      color: #000;
      @include pad { font-size: 3.6vw }
    }
  }
  &__item--active {
    background-image: linear-gradient(transparent 85%, $primary 85% 100%);
  }
}