@import "base/reset";
@import "utils/variables";

@import "base/base";

// utils
@import "utils/mixins";
@import "utils/grid";
@import "utils/flex";
@import "utils/helpers";

// layout
@import "layout/nav";
@import "layout/footer";
@import "layout/main";

// components
@import "components/pagination";
@import "components/breadCrumb";

// page
@import "pages/home";
@import "pages/product";
@import "pages/location";
@import "pages/faq";
@import "pages/blog";