.pagination {
  display: flex;
  &__item {
    padding: 10px;
    border: 1px solid #555;
    cursor: pointer;
    a { color: #000; }
    &:hover{ 
      background: #eee;
    }
  }
  &__item--active {
    background: #000;
    a { color: #fff; }
  }
  &__item--disabled {
    background: #F2F2F2;
    cursor: not-allowed;
    a {  cursor: not-allowed; }
  }
}